<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @voucher_account.name %>
</p>

<p>
  <b>Balence:</b>
  <%= @voucher_account.balence %>
</p>

<p>
  <b>Currency:</b>
  <%= @voucher_account.currency %>
</p>


<%= link_to 'Edit', edit_voucher_account_path(@voucher_account) %> |
<%= link_to 'Back', voucher_accounts_path %>
