<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :disbursement_date %><br />
    <%= f.datetime_select :disbursement_date %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br />
    <%= f.datetime_select :expiration_date %>
  </div>
  <div class="field">
    <%= f.label :credit %><br />
    <%= f.number_field :credit %>
  </div>
  <div class="field">
    <%= f.label :ratio %><br />
    <%= f.number_field :ratio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
